.acknowledgement-wrapper {
  margin-top: var(--block-mt);
}

.content-acknowledgement {
  margin-top: rem(25px);
  padding: rem(25px) rem(30px);
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 15%);

  p {
    margin: 0;
  }
}
