.administrators-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: rem(40px);
}

.administrator-item {
  margin-top: rem(10px);
  padding: rem(20px) rem(30px) rem(20px) rem(20px);
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 15%);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &:first-of-type() {
    margin-top: 0;
  }
}

.administrator-info {
  margin: 0;
  text-align: center;
  margin-bottom: rem(15px);
}

.administrator-name {
  display: block;
  font-size: rem(20px);
  color: var(--site-color);
  font-family: var(--font-bold);
}

.administrator-email {
  display: block;
  font-size: rem(14px);
  font-family: var(--font-bold);
  margin-top: rem(10px);
}

@include from-tablet {
  .administrator-item {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .administrator-info {
    text-align: left;
    margin-bottom: 0;
  }
}
