.hero-banner-wrapper {
  height: 170px;
  overflow: hidden;
  position: relative;
}

.hero-banner-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.defunt-img-background {
  padding: rem(5px);
  background-color: white;
  border-radius: 4px;
  position: relative;
  height: rem(130px);
  display: flex;
  align-items: center;

  img {
    max-width: 100%;
    height: auto;
  }
}

.defunt-img {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -80px;
}

.share-buttons-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-evenly;

  // justify-content: flex-end;
  padding: 0 rem(15px);
  margin-top: rem(25px);
}

.share-button {
  margin: 0;
}

/* .golden-book-button {
  .button-text,
  .separator {
    display: none;
  }
}
 */
.defunt-administrator-wrapper {
  margin-top: rem(25px);
  display: flex;
  padding: 0 rem(15px);
  flex-direction: column;
}

.defunt-infos-wrapper {
  p {
    text-align: center;
  }
}

.defunt-name {
  font-family: var(--font-bold-title);
  font-size: rem(26px);
  margin: 0;
  position: relative;
  padding-bottom: rem(15px);

  &::after {
    content: "";
    width: rem(60px);
    height: rem(1px);
    display: flex;
    bottom: 0;
    background-color: $black;
    bottom: -15px;
    margin: auto;
    margin-bottom: rem(15px);
    position: relative;
  }
}

.defunt-infos {
  display: flex;
  align-items: baseline;
  margin-top: rem(10px);
  margin-bottom: rem(10px);
  justify-content: center;

  p {
    margin: 0;
  }
}

.defunt-infos-separator {
  color: $grey-5;
  padding: 0 rem(10px);
}

.defunt-birth-name,
.defunt-date {
  font-family: var(--font-bold);
}

.defunt-adiministator {
  color: $grey-3;
  margin: 0;
  text-align: center;
}

.defunt-adiministator-name {
  color: $grey-3;
  margin: 0;
  margin-top: rem(10px);
  font-family: var(--font-bold);
  text-align: center;
}

@include from-tablet {
  .share-buttons-wrapper {
    margin-top: -80px;

    // justify-content: space-between;
    justify-content: flex-end;
  }

  /*   .golden-book-button {
    .button-text, .separator {
      display: inherit;
    }
  } */

  .defunt-infos-wrapper {
    p {
      text-align: left;
    }
  }

  .defunt-adiministator,
  .defunt-adiministator-name {
    text-align: left;
  }

  .defunt-adiministator {
    margin-top: rem(10px);
  }

  .defunt-infos {
    justify-content: flex-start;
    margin-bottom: 0;
  }

  .defunt-name {
    padding-bottom: 0;

    &::after {
      content: none;
    }
  }
}

@include from-landscape {
  .defunt-administrator-wrapper {
    /* margin-top: rem(80px); */
    flex-direction: row;
    justify-content: space-between;
  }

  .defunt-adiministator,
  .defunt-adiministator-name {
    text-align: right;
  }

  .defunt-adiministator {
    margin-top: 0;
  }
}
