.layout-content {
  padding: 0 rem(15px);
  margin-top: var(--block-mt);
  min-height: rem(780px);
}

.buttons-wrapper {
  width: 100%;
  display: flex;
  gap: rem(10px);
  justify-content: center;
  align-items: center;

  &.right {
    justify-content: flex-end;
  }

  &.left {
    justify-content: flex-start;
  }

  &.space-between {
    justify-content: space-between;
  }

  button {
    margin: 0;
  }

  &.width-auto {
    width: auto;
  }
}

.heading-button-wrapper {
  display: flex;
  align-items: center;
  gap: rem(20px);
  flex-wrap: wrap;

  &.between {
    justify-content: space-between;
  }

  button {
    margin: 0;
  }
}

@include from-tablet {
  .buttons-wrapper.right {
    justify-content: flex-end;
  }

  /*   .heading-button-wrapper button {
    margin-right: 0;
    margin-left: auto;
  } */
}
