

.dropdown {
  display: flex;
  flex-direction: column;
  font-family: var(--font-bold);
  &.open {
    background-color: var(--bg-color);
  }
}
.dropdown-toggle,
.dropdown-item {
  -webkit-appearance: none;
  border: none;
  background-color: transparent;
  padding: rem(15px);
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: var(--font);
  font-size: rem(14px);
  margin-right: 0;
  margin-left: auto;
}
.loggedIn-button {
  margin-right: 0;
  width: 100%;
}
.dropdown-item {
  width: 100%;
  color: var(--site-color);
  text-transform: uppercase;
  justify-content: center;
  font-size: rem(16px);
  padding: rem(20px) rem(15px);
  font-family: var(--font-bold);
}
.dropdown-item-text {
  margin-left: rem(10px);
}
.dropdown-menu {
  position: absolute;
  z-index: 1;
  width: 100%;
  display: none;
  padding: 0;
  margin: 0;
  font-size: rem(16px);
  color: #000;
  list-style: none;
  left: 0;
  background-color: var(--bg-color);
  min-width: 10rem;
  top: calc(100% - #{rem(15px)});
  &.active {
    display: block;
  }
}
.user-login-username,
.user-login-connexion{
  display: none;
  margin: 0 rem(5px);
  text-transform: uppercase;
}


@include from-tablet {
  .dropdown {
    min-width: rem(260px);
    position: relative;
  }
  .dropdown-menu {
    top: 100%;
    &.active {
     left:0;
    }
  }
  .user-login-username,
  .user-login-connexion {
    display: flex;
    margin: 0 rem(10px);
    font-family: var(--font-bold);
    text-transform: uppercase;
    
    .user-login-welcome {
      font-family: var(--font);
      text-transform: none;
    }
  }
}
