.messages-wrapper {
  margin-top: rem(30px);
  background-color: var(--bg-color);
  padding: rem(40px) rem(15px);
  width: calc(100% + #{rem(30px)});
  margin-left: rem(-15px);
}
.accueil-messages-wrapper {
  margin-top: var(--block-mt);
}
.messages-empty-text {
  margin: 0 auto;
  font-style: italic;
  text-align: center;
}

.messages-list {
  margin: 0;
  padding:0;
  display: flex;      
  flex-wrap: wrap;       
  justify-content: space-around;   
}

.message-item {
  max-width: 45%;
  margin-top: rem(30px);
  display:flex;
  background-color: $white;
  flex-direction: column;
  padding: 0 rem(30px) rem(30px);
}
.message-item-long {
  min-height: rem(550px);
}
.message-item-image-wrapper {
  width:calc(100% + #{rem(60px)});
  height: rem(300px);
  margin-left: rem(-30px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: rem(5px);
}
.message-item-image {
  max-height: 100%;
  height: auto;
  max-width: 100%;
  width: auto;
}
.message-author {
  color: $grey-2;
  font-style: italic;
  display: flex;
  flex-direction: column;
  gap: rem(5px);
  position: relative;
  padding-bottom: rem(15px);
  p {
    margin: 0;
  }
  &:after {
    position: relative;
    height: 2px;
    display: flex;
    content:"";
    width: rem(105px);
    bottom: rem(-15px);
    background-color: var(--site-color);
  }
}
.message-body {
  margin-top: rem(20px);
  word-break: break-word;
  max-height: calc(#{rem(28px)} * 4);
  overflow: hidden;
  transition: all 0.5s linear;
  p {
    font-size: rem(18px);
    line-height: lineheight(18, 28);
    margin: 0;
  }
  &.open {
    max-height: 8000px;
    overflow: visible;
  }
}
.message-item {
  .buttons-wrapper {
    margin-top: auto;
  }
}
.messages-number-view {
  text-align:center;
  margin-top: rem(80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-bold);
  font-size: rem(18px);
}
.messages-progress {
  height: rem(10px);
  width: rem(310px);
  -webkit-appearance: none;
  margin-top: rem(20px);
}
.messages-progress::-webkit-progress-bar {
  background-color: $white;
  border-radius: rem(4px);
}
.messages-progress::-webkit-progress-value {
  background-color: var(--site-color);
  border-radius: rem(4px);
}

.messages-progress::-moz-progress-bar {
  background-color: var(--site-color);
  border-radius: rem(4px);
}


@supports (display: grid) {
  .messages-list {
    display: grid;    
    grid-auto-rows: minmax(rem(145px), auto);       /* item min-height */                                 
    grid-gap: rem(30px);   
    column-gap: rem(30px);                                            
    grid-template-columns: none;
    grid-template-rows: repeat(auto-fill, minmax(rem(145px), 1fr)); /* min 320px de hauteur */                                                            
  }

  .message-item-long, .message-item {
    max-width: 100%;
    margin-bottom: 0;
  }
  .message-item {
    grid-row: span 1;
  }
  
  .message-item-long {
    grid-row: span 2;
  }

  @include from-tablet {
    .messages-list {
      grid-template-columns: repeat(auto-fill, 45%);
    }
  }
  @include from-desktop {
    .messages-list {
      grid-template-columns: repeat(auto-fill, minmax(45%, rem(515px))); /* max 515px de largeur */
    }
  }
}




