.tab-list {
  display: flex;
  background-color: white;
  align-items: center;
  padding: 0 15px;
  justify-content: space-evenly;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  margin-top: rem(30px);
}

.tab-list-mobile {
  background-color: white;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  margin-top: rem(30px);
}

.tab-list-mobile__list {
  max-height: 0;
  overflow: hidden;
  display: flex;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  transition: opacity 0s, height 0.3s;
  opacity: 0;

  &.open {
    max-height: 500px;
    transition: opacity 0.2s, max-height 0.5s;
    overflow: visible;
    opacity: 1;
    margin-top: -1px;
    z-index: 1;
    box-shadow: 0 9px 9px -6px rgb(0 0 0 / 20%);
  }
}

.tab-list-mobile__toggle {
  border: none;
  background-color: transparent;
  appearance: none;
  padding: 15px;
  color: $black;
  cursor: pointer;
  font-family: var(--font-bold);
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.tab-list-mobile__toggle-text {
  padding: 0 10px;
}

.tab-item {
  border: none;
  background-color: transparent;
  appearance: none;
  padding: 20px;
  color: $black;
  cursor: pointer;
  font-family: var(--font);
  font-size: 14px;
  text-transform: uppercase;
  margin: 0 auto;

  &.active {
    color: var(--site-color);
    font-family: var(--font-bold);
  }
}
