
.tab-panel {
  min-height:rem(700px);
}

.messages-success {
  font-size: rem(20px);
  font-family: var(--font-bold);
  display: flex;
  align-items: center;
  gap: rem(10px);
  margin: 0;
  margin-bottom: rem(40px);
}



