.transversal-blocks {
  display: flex;
  flex-wrap: nowrap;
  width: calc(100% + 30px);
  overflow-x: auto;
  margin-top: var(--block-mt);
  margin-left: rem(-15px);
}

.transversal-item {
  min-width: rem(290px);
  width: rem(290px);
}

.transversal-image {
  display: block;
  max-width: rem(260px);
  height: auto;
}
.transversal-content {
  margin-left: rem(15px);
  padding: rem(25px) rem(35px) rem(35px);
  margin-top: rem(-20px);
  position: relative;
  background-color: white;
}

@include from-tablet {
  .transversal-blocks {
    width: 100%;
    margin-left: 0; 
    gap: rem(30px);
  }

  .transversal-item {
    min-width: auto;
    width: calc(50% - #{rem(15px)});
  }
  .transversal-image {
    max-width: 100%;

  }
}
