portainer_data
.idea
.vagrant
.env
/scripts/wraith/shots
/scripts/wraith/shots_base
/project/qualityscore.php
/project/quality
/project/sites/default/files
/project/vendor/**/.git
/project/modules/contrib/**/.git
docker-compose.local.yml
info.php
/project/.htaccess
node_modules/

.DS_Store
.vscode/
