.switch-wrapper {
  display: flex;
  width: rem(120px);
  position: relative;
  align-items: center;
  justify-content: space-between;
  gap: rem(10px);
}

.switch {
  display: flex;
  width: rem(51px);
  height: rem(16px);
  position: relative;
  margin: 0;
}

.switch input {
  width: 1px;
  height: 1px;
  position: absolute;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
}

/* The slider */
.slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 0.4s;
  border-radius: 34px;
  background-color: #ccc;
  cursor: pointer;
}

.slider::before {
  width: rem(24px);
  height: rem(24px);
  position: absolute;
  bottom: rem(-4px);
  left: 0;
  transition: 0.4s;
  border-radius: 50%;
  box-shadow:
    0 3px 3px 0 rgb(0 0 0 / 5%),
    0 2px 2px 0 rgb(0 0 0 / 10%),
    0 3px 1px 0 rgb(0 0 0 / 5%),
    0 0 3px 1px rgb(0 0 0 / 25%);
  background-color: white;
  content: "";
}

input:checked + .slider {
  background-color: var(--site-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--site-color);
}

input:checked + .slider::before {
  transform: translateX(29px);
}
