@import "./fonts", "./colors", "./functions", "./breakpoints";

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  --bg-color: #{$grey-4};
  --color: #{$black};
  --site-color: #{$orange-1};
  --site-color-darker: #{$orange-2};
  --site-color-hover: #{$orange-2};
  --icons-color-hover: #{$white};
  --text-color-hover: #{$white};
  --font: #{$lato};
  --font-bold: #{$latoBold};
  --font-bold-title: #{$latoBold};
  --block-mt: #{rem(30px)};

  @media screen and (min-width: 650px) {
    --block-mt: #{rem(60px)};
  }
}

body.class-roblot {
  --bg-color: #{$beige-1};
  --site-color: #{$rose-1};
  --site-color-darker: #{$white};
  --site-color-hover: #{$white};
  --icons-color-hover: #{$rose-1};
  --text-color-hover: #{$rose-1};
  --font: #{$roboto};
  --font-bold: #{$robotoBold};
  --font-bold-title: #{$robotoBold};
}

body.class-dignite-funeraire {
  --bg-color: #{$grey-6};
  --site-color: #{$blue-1};
  --site-color-darker: #{$white};
  --site-color-hover: #{$white};
  --icons-color-hover: #{$blue-1};
  --text-color-hover: #{$blue-1};
  --font: #{$openSans};
  --font-bold: #{$openSansBold};
  --font-bold-title: #{$openSansBold};
}

body.class-marque-locale {
  --bg-color: #{$green-3};
  --site-color: #{$green-2};
  --site-color-darker: #{$white};
  --site-color-hover: #{$white};
  --icons-color-hover: #{$green-2};
  --text-color-hover: #{$green-2};
  --font: #{$raleway};
  --font-bold: #{$ralewayBold};
  --font-bold-title: #{$ralewayBold};
}

body.class-henri-de-borniol {
  --bg-color: #{$beige-2};
  --site-color: #{$green-1};
  --site-color-darker: #{$white};
  --site-color-hover: #{$white};
  --icons-color-hover: #{$green-1};
  --text-color-hover: #{$green-1};
  --font: #{$openSans};
  --font-bold: #{$openSansBold};
  --font-bold-title: #{$playfairBold};
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.layout-container {
  color: var(--color);
}

.react-app {
  display: flex;
  max-width: rem($maxDesktop);
  min-height: 100vh;
  flex-direction: column;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: var(--font);
}

h1 {
  font-family: var(--font-bold);
  font-weight: normal;
}

.sr-only {
  width: 1px;
  height: 1px;
  position: absolute;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
}
h2,
p,
div,
ul {
  &:focus {
    outline: none;
  }
}

#block-souvenirs-page-title {
  display: none;
}

#block-souvenirs-local-tasks {
  ul {
    display: flex;
    list-style: none;
    gap: 5px;
  }
}
