.administrators-list {
  margin: 0;
  margin-top: rem(40px);
  padding: 0;
  list-style: none;
}

.administrator-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin-top: rem(10px);
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 15%);
  background-color: white;
  padding: rem(20px) rem(30px) rem(20px) rem(20px);

  &:first-of-type() {
    margin-top: 0;
  }
  &.administrator-item-active {
    background-color: var(--bg-color);
  }
}

.administrator-info {
  margin: 0;
  margin-bottom: rem(15px);
  text-align: center;
}

.administrator-name {
  display: block;
  color: var(--site-color);
  font-family: var(--font-bold-title);
  font-size: rem(20px);
  font-weight: normal;
}

.administrator-email {
  display: block;
  margin-top: rem(10px);
  font-family: var(--font-bold);
  font-size: rem(14px);
  font-weight: normal;
}

@include from-tablet {
  .administrator-item {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  .administrator-info {
    margin-bottom: 0;
    text-align: left;
  }
}
