.accueil-agency-wrapper {
  margin-top: var(--block-mt);
}

.agency-wrapper {
  width: calc(100% + #{rem(30px)});
  position: relative;
  margin-top: var(--block-mt);
  margin-left: rem(-15px);
  padding: rem(15px);

  &::before {
    display: flex;
    width: 100%;
    max-width: 100%;
    height: rem(200px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: var(--bg-color);
    content: "";
  }
}

.agency-infos {
  margin-top: rem(5px);
  background-color: $white;
  padding: rem(20px);
}

.agency-title {
  margin: 0;
  line-height: lineheight(22, 27);
  font-family: var(--font-bold);
  font-size: rem(22px);
  font-weight: normal;
}

.agency-address {
  margin: 0;
  margin-top: rem(10px);
  font-size: rem(20px);
}

.agency-zipcode {
  margin: 0;
  margin-top: rem(5px);
  font-size: rem(20px);
}

.agency-phone {
  margin: 0;
  font-size: rem(20px);
}

.agency-phone-link {
  line-height: lineheight(20, 26);
  font-size: rem(20px);
}

.agency-contact {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: space-between;
}

@include from-tablet {
  .agency-title {
    font-size: rem(27px);
  }
}

@include from-landscape {
  .agency-wrapper {
    padding: rem(60px) 0 0 rem(185px);

    &::before {
      width: rem(670px);
    }
  }

  .agency-infos {
    max-width: rem(620px);
    padding: rem(25px) rem(30px);
  }
}
