.biography-wrapper {
  position: relative;
  margin-top: rem(30px);
  padding-top: 1px;

  &::before {
    display: flex;
    width: calc(100% + #{rem(30px)});
    height: rem(300px);
    position: absolute;
    top: 0;
    margin-left: rem(-15px);
    background-color: var(--bg-color);
    content: "";
  }
}

.biography-body {
  width: rem(820px);
  max-width: 100%;
  position: relative;
  margin: 0 auto;
  margin-top: rem(40px);
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 15%);
  background-color: white;
  padding: rem(35px);
  line-height: lineheight(18, 32);
  font-size: rem(18px);
}
