footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  margin-bottom: 0;
  padding: rem(15px) rem(30px);
}

a {
  color: $grey-1;
  font-size: rem(14px);
}

.footer-nav {
  display: flex;
  align-items: center;
  list-style: none;
  gap: rem(10px);
}
