.link {
  @extend .button;
  text-decoration: none;
}

.bg-current {
  @extend .link;
}

.bg-white {
  @extend .link;
}

.bg-transparent {
  @extend .link;
}

.color-current {
  color: var(--site-color);
}

.center {
  margin: auto;
}

.separator {
  width: rem(10px);
}

.ceremony-boutique-link {
  max-width: 100%;
  flex: 0 0 auto;
  margin: rem(10px) 0;
}
.edit-obituary-link {
  padding: rem(15px);
}

.number-condoleances-link {
  margin-bottom: rem(15px);
}

@include from-tablet {
  .number-condoleances-link {
    margin-right: rem(20px);
    margin-bottom: 0;
  }
  .ceremony-boutique-link {
    margin: 0;
  }
}
