.link {
  @extend .button;
  text-decoration: none;
}

.bg-current {
  @extend .link;
}

.bg-white {
  @extend .link;
}

.bg-transparent {
  @extend .link;
}

.color-current {
  color: var(--site-color);
}

.center {
  margin: auto;
}

.separator {
  width: rem(10px);
}
.boutique-link {
  max-width: 100%;
  flex: 0 0 auto;
  margin-right: 0;
  margin-left: auto;
}
