.messages-wrapper {
  width: calc(100% + #{rem(30px)});
  margin-top: rem(30px);
  margin-left: rem(-15px);
  background-color: var(--bg-color);
  padding: rem(40px) rem(15px);
}

.accueil-messages-wrapper {
  margin-top: var(--block-mt);
}

.messages-empty-text {
  margin: 0 auto;
  text-align: center;
  font-style: italic;
}

.messages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.message-item {
  display: flex;
  max-width: 45%;
  position: relative;
  flex-direction: column;
  margin-top: rem(30px);
  background-color: $white;
  padding: 0 rem(30px) rem(30px);

  .buttons-wrapper {
    margin-top: auto;
  }
}

.message-item-long {
  min-height: rem(550px);
}

.message-item-image-wrapper {
  display: flex;
  width: calc(100% + #{rem(60px)});
  height: rem(300px);
  align-items: center;
  justify-content: center;
  margin-left: rem(-30px);
  padding: rem(5px);
}

.message-item-image {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

.message-author {
  display: flex;
  position: relative;
  flex-direction: column;
  padding-bottom: rem(15px);
  color: $grey-2;
  font-style: italic;
  gap: rem(5px);

  p {
    margin: 0;
  }

  &::after {
    display: flex;
    width: rem(105px);
    height: 2px;
    position: relative;
    bottom: rem(-15px);
    background-color: var(--site-color);
    content: "";
  }
}

.message-body {
  max-height: calc(#{rem(28px)} * 4);
  transition: all 0.5s linear;
  margin-top: rem(20px);
  overflow: hidden;
  word-break: break-word;

  p {
    margin: 0;
    line-height: lineheight(18, 28);
    font-size: rem(18px);
  }

  &.open {
    max-height: 8000px;
    overflow: visible;
  }
}

.messages-number-view {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: rem(80px);
  text-align: center;
  font-family: var(--font-bold);
  font-size: rem(18px);
  font-weight: normal;
}

.messages-progress {
  width: rem(310px);
  height: rem(10px);
  margin-top: rem(20px);
  appearance: none;
}

.messages-progress::-webkit-progress-bar {
  border-radius: rem(4px);
  background-color: $white;
}

.messages-progress::-webkit-progress-value {
  border-radius: rem(4px);
  background-color: var(--site-color);
}

.messages-progress::-moz-progress-bar {
  border-radius: rem(4px);
  background-color: var(--site-color);
}

.new-message-tag {
  display: inline-flex;
  position: absolute;
  top: rem(15px);
  right: rem(15px);
  border: 1px solid var(--site-color);
  border-radius: rem(4px);
  background-color: $white;
  padding: rem(5px);
  text-transform: uppercase;
  color: var(--site-color);
  font-family: var(--font-bold);
  font-size: rem(16px);
  font-weight: normal;
}

.new-messages-number {
  display: inline-flex;
  width: rem(37px);
  height: rem(37px);
  align-items: center;
  justify-content: center;
  margin-left: rem(5px);
  border-radius: 50%;
  background-color: var(--site-color);
  overflow: hidden;
  line-height: normal;
  color: $white;
  font-size: rem(18px);
  &.small {
    width: rem(25px);
    height: rem(25px);
    font-size: rem(14px);
  }
}

@supports (display: grid) {
  .messages-list {
    display: grid;
    justify-content: space-around;
    grid-template-rows: repeat(
      auto-fill,
      minmax(rem(300px), 1fr)
    ); /* min 320px de hauteur */
    grid-template-columns: none;
    grid-auto-rows: minmax(rem(300px), auto); /* item min-height */
    grid-gap: rem(30px);
    column-gap: rem(30px);
  }

  .message-item-long,
  .message-item {
    max-width: 100%;
    margin-bottom: 0;
  }

  .message-item {
    grid-row: span 1;
  }

  .message-item-long {
    grid-row: span 2;
  }
}
@supports (display: grid) {
  @include from-tablet {
    .messages-list {
      grid-template-columns: repeat(auto-fill, 45%);
    }
  }

  @include from-desktop {
    .messages-list {
      grid-template-columns: repeat(
        auto-fill,
        minmax(45%, rem(515px))
      ); /* max 515px de largeur */
    }
  }
}
