.reset-password-wrapper {
  min-height: rem(550px);
  //background-color: white;
  background-image: url("../assets/images/bg-images/img-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: rem(1px) rem(15px) rem(40px);
}
