.share-direct-link-wrapper {
  margin-top: rem(30px);
  background-color: white;
  padding: rem(20px);
}

.share-direct-link-text {
  margin: 0;
  text-align: center;
  font-size: rem(18px);
}

.share-direct-link {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: rem(15px);
  border: 1px solid $grey-5;
  border-radius: rem(8px);
}

.share-direct-link-input {
  border: 0;
  color: $grey-3;
  font-size: rem(18px);

  &:focus {
    outline: none;
  }

  &:read-only {
    background-color: transparent;
  }
}

.copy-link-btn {
  flex-shrink: 0;
}

.share-social-media-intro {
  position: relative;
  margin: rem(20px) 0 rem(30px);
  padding-bottom: rem(15px);
  text-align: center;
  font-size: rem(18px);

  &::after {
    display: block;
    width: rem(285px);
    height: rem(2px);
    position: relative;
    bottom: rem(-15px);
    margin-left: calc((100% - #{rem(285px)}) / 2);
    background-color: $white;
    content: "";
  }
}

.social-media-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  column-gap: rem(45px);
  margin-bottom: rem(45px);
}

.social-media-item button,
.social-media-item a {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.social-media-item a {
  text-decoration: none;
}

.social-media-text {
  margin-top: rem(7px);
  text-transform: uppercase;
  font-size: rem(14px);
}

@include from-tablet {
  .share-direct-link-wrapper {
    padding: rem(30px);
  }

  .share-social-media-intro {
    margin: rem(40px) 0 rem(30px);
    padding-bottom: rem(30px);

    &::after {
      width: rem(320px);
      bottom: rem(-30px);
      margin-left: calc((100% - #{rem(320px)}) / 2);
    }
  }

  .social-media-wrapper {
    margin-bottom: rem(80px);
  }

  .social-media-item {
    button {
      margin-left: 0;
    }
  }
}
