
@import "./fonts.scss",
"./colors.scss",
"./functions.scss",
"./breakpoints.scss";

html {
  scroll-behavior: smooth;
}
html, body {
  margin: 0;
  padding:0;
}
body {
  --bg-color: #{$grey-4};
  --color: #{$black};
  --site-color: #{$orange-1};
  --site-color-darker: #{$orange-2};
  --site-color-hover: #{$orange-2};
  --icons-color-hover: #{$white};
  --text-color-hover: #{$white};
  --font: #{$lato};
  --font-bold: #{$latoBold};
  --font-bold-title: #{$latoBold};;
  --block-mt: #{rem(30px)};

  @media screen and (min-width: 650px) {
    --block-mt: #{rem(60px)};
  }
}

body.class-roblot {
  --bg-color: #{$beige-1};
  --site-color: #{$rose-1};
  --site-color-darker: #{$white};
  --site-color-hover: #{$white};
  --icons-color-hover: #{$rose-1};
  --text-color-hover: #{$rose-1};
  --font: #{$roboto};
  --font-bold: #{$robotoBold};
  --font-italic: #{$robotoItalic};
  --font-bold-title: #{$merriweatherBold};
}
body.class-dignite {
  --bg-color: #{$grey-6};
  --site-color: #{$blue-1};
  --site-color-darker: #{$white};
  --site-color-hover: #{$white};
  --icons-color-hover: #{$blue-1};
  --text-color-hover: #{$blue-1};
  --font: #{$openSans};
  --font-bold: #{$openSansBold};
  --font-bold-title: #{$openSansBold};
}
body.class-marque-locale {
  --bg-color: #{$green-3};
  --site-color: #{$green-2};
  --site-color-darker: #{$white};
  --site-color-hover: #{$white};
  --icons-color-hover: #{$green-2};
  --text-color-hover: #{$green-2};
  --font: #{$raleway};
  --font-bold: #{$ralewayBold};
  --font-bold-title: #{$ralewayBold};
}
body.class-h2b {
  --bg-color: #{$beige-2};
  --site-color: #{$green-1};
  --site-color-darker: #{$white};
  --site-color-hover: #{$white};
  --icons-color-hover: #{$green-1};
  --text-color-hover: #{$green-1};
  --font: #{$openSans};
  --font-bold: #{$openSansBold};
  --font-bold-title: #{$playfairBold};
}

*, *:before, *:after {
  box-sizing: border-box;
}
.layout-container {
  color: var(--color);
}
.react-app {
  min-height: 100vh;
  font-family: var(--font);
  max-width: rem($maxDesktop);
  margin: 0 auto;
}

h1 {
  font-family: var(--font-bold)
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}



#block-souvenirs-page-title {
  display: none;
}
#block-souvenirs-local-tasks {
  ul {
    display: flex;
    gap: 5px;
    list-style: none;
  }
}
