$orange-1: #de6518;
$orange-2: #c14f06;
$rose: #99032e;
$rose-1: #691731;
$black: #151515;
$white: #fff;
$grey-1: #333;
$grey-2: #666;
$grey-3: #696969;
$grey-4: #edeae7;
$grey-5: #ccc;
$grey-6: #edeceb;
$blue-1: #0085a2;
$green-1: #0e342e;
$green-2: #0b5d67;
$green-3: #edf2f0;
$beige-1: #e9d3b2;
$beige-2: #fbf7f3;
$red: #e00000;
