core/**/*
vendor/**/*
sites/**/files/**/*
libraries/**/*
sites/**/libraries/**/*
profiles/**/libraries/**/*
**/js_test_files/**/*
**/node_modules/**/*
config
makefile
node_modules
/*
!/docroot/
!docroot/
docroot/*
!docroot/themes/
docroot/themes/*
!docroot/themes/custom/
docroot/themes/custom/souvenirs/*
!docroot/themes/custom/souvenirs/src